@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --anthracite:#131416;
}

*{ box-sizing:border-box; }
html,body,#root{ height:100%; }
body{
  margin:0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background:#fff;
  color:#222;
}
a{ text-decoration:none; color:inherit; }
